<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-plate-heading" data-cy="PlateCreateUpdateHeading">Create or edit a Plate</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_photos">Photos</label>
          <input type="text" class="form-control" name="photos" id="field_photos" data-cy="photos" formControlName="photos" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_origin">Origin</label>
          <input type="text" class="form-control" name="origin" id="field_origin" data-cy="origin" formControlName="origin" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_stars">Stars</label>
          <input type="number" class="form-control" name="stars" id="field_stars" data-cy="stars" formControlName="stars" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_favorite">Favorite</label>
          <input type="checkbox" class="form-check" name="favorite" id="field_favorite" data-cy="favorite" formControlName="favorite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cook_time">Cook Time</label>
          <input type="number" class="form-control" name="cook_time" id="field_cook_time" data-cy="cook_time" formControlName="cook_time" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_restaurant">Restaurant</label>
          <select
            class="form-control"
            id="field_restaurant"
            data-cy="restaurant"
            name="restaurant"
            formControlName="restaurant"
            [compareWith]="compareRestaurant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="restaurantOption" *ngFor="let restaurantOption of restaurantsSharedCollection">
              {{ restaurantOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
