
/* Set a fixed height for the images to keep them the same size */
img {
    height:120px; /* Adjust the height to your desired size */
    width: 320px; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing around the images */
    margin: 0 auto; /* Center the images horizontally within the container */
  }
  
  /* Make the images responsive */
  @media (max-width: 768px) {
 img {
      height: 200px; /* Adjust the height for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
 img {
      height: 200px; /* Adjust the height for even smaller screens */
    }
  }